<div class="container-fluid" style="padding-top: 30px;">
  <div class="row">
    <div class="col-lg-12 col-centered">
      <h1 class="page-header">Dashboard</h1>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" style="display: inline-block"class="img-responsive img-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" style="display: inline-block" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" style="display: inline-block" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" style="display: inline-block" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
      </div>
      <h2 class="sub-header">Section title</h2>
      <modal-demo></modal-demo>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="table-responsive">
            <table class="table  table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>Age</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of userList; let i = index; let last = last" (click)="directRoute(user)" >
                <td>{{ i | adder}}</td>
                <td>{{user.username}}</td>
                <td>{{user.age}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <user-detail  [userProfile]="passingUser"></user-detail>
        </div>
      </div>
    </div>
  </div>
</div>
